.benefit-container{
    display: flex;
    width: 100%;
    height: 900px;
    /* background-color: red; */
    
}

.benefit-inner {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    padding-top: 150px;
    margin: 0 auto;
    gap: 40px;
}

.image-container {
    display: flex;
    gap: 20px;
}

.benefit-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us {
    background-color: white;
    width: fit-content;
    
}

.section-label{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.section-label span {
    color: #FE543D;
    font-size: 20px;
}

.about-heading {
    font-size: 25px;
}

.about-heading h1 {
    color: #0E2A46;
}

.about-heading span{
    color: #FE543D;
}

.about-heading p{
    color: #4D5756;
    font-size: 15px;
}

.about-mission{
    display: flex;
}

.our-mission h3, .our-vission h3 {
    color: #0E2A46;
    font-size: 20px;
}

.our-mission p, .our-vission p{
    color: #4D5756;
    font-size: 15px;
}

.primary-btn {
   
    width: 230px;
    height: 60px;
   
    padding-left: 20px;
    font-size: 17px;
   
}

.primary-arrow {
    width: 58px;
    height: 58px;
    
}

.primary-arrow img{
    width: 20px;
}
