.hero-section {
   width: 100%;
   height: 902px;
   /* background: linear-gradient(to right, #F5E3DF, #E1F0ED); */
   background: linear-gradient(135deg, #F5E3DF, #E1F0ED);
   /* padding: 80px 0; */
;
}

.hero-main {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
}

.hero-content {
    display: flex;
    flex-direction: column;
    padding-top: 161px;
}

.hero-badge {
    color: #2FC7A1;
    background-color: #2FC7A126;
    width: 197px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    color: #17254E;
    width: 614px;
    height: 216px;
    font-size: 60px;
    
}

.hero-subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #333931;
    padding: 0;
}

.hero-search {
    /* display: flex; */
    width: 485px;
    height: 58px;
    position: relative;
}

.hero-input {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: white;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    padding-left: 20px;
}

.hero-btn {
    background-color: #2FC7A1;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    border: none;
    position: absolute;
    right: -20px;
    top: 3%;
}

.hero-visual{
    padding-top: 71px;
    position: relative;
}

.student-img {
    display: flex;
    gap: 32px;
}

.boy-img {
    width: 327px;
    height: 592px;
}

.girl-img {
    width: 237px;
    margin-top: 210PX;
}

.hero-students {
    position: absolute;
    top: 150px;
    left: 20px;
    background-color: white;
    width: 300px;
    height: 80px;
    border-radius: 400px;
    border: none;
    display: flex;
    gap: 50px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px 5px rgba(34, 34, 34, 0.08);
}

.hero-students img {
    height: 40px;
}

.student {
   line-height: 5px;
   font-size: 20px;
}

.student h3 {
    color: #704FE6;
}

.hero-status {
    position: absolute;
    bottom: 80px;
    right: -100px;
    background-color: white;

    width: 200px;
    height: 80px;
    border-radius: 400px;
    border: none;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    box-shadow: 0 0 4px 10px rgba(34, 34, 34, 0.08);
}

.hero-status h3 {
    color: #2FC7A1;
    margin: 0;
    padding-top: 10px;
    font-size: 24px;
}

.hero-status p {
    margin: 4px 0 0;
    font-size: 18px;
    color: #333;
}