.status-container {
  width: 100%;
  height: 928px;
}

.status-inner-container {
  max-width: 1200px;
  width: 100%;
  display: flex;

  margin: 0 auto;
  gap: 80px;
  padding-top: 120px;
}

.status-value {
  margin-top: 24px;
  width: 100%;
}

.status-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.status-text p {
  font-weight: 600;
  color: #0e2a46;
}

.status-text span {
  font-weight: 600;
  color: #2fc7a1;
}

.status-bar {
  width: 100%;
  height: 10px;
  background-color: #e6e6e6;
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
}

.status-bar-fill {
  height: 100%;
  background-color: #2fc7a1;
  border-radius: 6px;
  transition: width 0.3s ease;
}
