.popular-courses {
  width: 100%;
  height: 1080px;
  margin: 0;
}

.popular-course-inner {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 80px;
  padding-top: 120px;
}

.head-courses-wrap {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-label span {
  color: #2fc7a1;
  font-size: 20px;
}

.front-wrap {
  display: flex;
  flex-direction: column;
  /* width: 650px; */
  
}

.front-wrap h1 {
  font-size: 40px;
  color: #0e2a46;
}

.courses {
  width: 424px;
  height: 593px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.course-list {
  width: 100%;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-right: 80px;
}

.course-star {
  display: flex;
  padding-top: 28px;
}

.courses-heading3 {
  font-size: 25px;
}

.course-lesson {
  display: flex;
}

.lesson,
.time,
.course-student,
.cart-action,
.developer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.developer {
  display: flex;
}

.cart {
  display: flex;
  justify-content: space-between;
}

.cart-action {
  display: flex;
}
