
.blog-post-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

.popular-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  padding-top: 120px;
}

.post-head h1 {
  color: #0e2a46;
  font-size: 45px;
}


.post-wrapper {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: nowrap; 
}

.post-container {
  flex: 1;
  background-color: #EEEEEE;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.post-img img {
  width: 100%;
  border-radius: 16px;
}

.post-text {
  display: flex;
  gap: 20px;
  align-items: center;
}

.post-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.post-content p {
  font-size: 14px;
  color: #6b7280;
}

.post-container h3 {
  font-size: 18px;
  color: #0e2a46;
  line-height: 1.4;
}

.section-label span {
    color: #2FC7A1;
}


