.exam-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}


.exam-header {
  text-align: center;
  margin-bottom: 80px;
}

.exam-header h1 {
  font-size: 42px;
  color: #0e2a46;
}


.join-wrapper {
  display: flex;
  gap: 40px;
}


.join-now-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  border-radius: 24px;
}

.join-now-container.dark {
  background-color: #17254e;
  color: white;
}


.join-now-container.light {
  background-color: #2fc7a1;
  color: #0e2a46;
}

.primary-arrow.light {
    background-color: #17254e;
    
}


.join-content {
  max-width: 480px;
}

.join-subtitle {
  font-weight: 600;
  margin-bottom: 10px;
}

.join-content h2 {
  font-size: 28px;
  margin-bottom: 30px;
}


.join-image img {
  max-width: 320px;
}

.btn-green {
  background-color: #2fc7a1;
  color: #ffffff;
}

.btn-dark {
  background-color: #0e2a46;
  color: #ffffff;
}

.primary-btn {
    gap: 70px;
}
