.container {
  background-color: #17254e;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 0;
  box-sizing: border-box;
  gap: 50px;
}

.header-inner{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left, .header-right {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  /* padding-right: 100px; */
}

.time, .location {
  display: flex;
  color: white;
  gap: 10px;
}

.login {
  display: flex;
  color: white;
  gap: 15px;
  border-right: 1px solid gray;
  padding-right: 20px;
}

.people {
  padding-top: 13px;
}

.media {
  display: flex;
  gap: 10px;
  align-items: center;
  
}

.media img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.container img {
  width: 20px;
  
}
