.navbar-container {
  width: 100%;
  height: 70px;
}

.navbar-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar-list a {
  text-decoration: none;
  color: #0E2A46;
}

.contact-us {
  display: flex;
  gap: 44px;
  align-items: center;
}


.navbar-btn {
  width: 175px;
  height: 60px;
  padding-left: 20px;
  padding-right: 6px;
  font-size: 15px;
  gap: 0px;
}
