.navbar-container {
    width: 100%;
    height: 70px;
    
}

.navbar-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav{
    display: flex;
    
}

.navbar-list{
    display: flex;
    gap: 40px;
    list-style: none;
}

.navbar-list a{
    text-decoration: none;
    color: #0E2A46;
}

.contact-us {
    display: flex;
    gap: 44px;
    align-items: center;
    padding-top: 5px;
}

.navbar-btn {
    background-color: #2FC7A1;
    display: flex;
    /* width: 175px; */
    /* padding: 0 18px 0 0; */
    height: 60px;
    border-radius: 200px;
    border: none;
    /* padding-top: 5px; */
    /* left: 144px; */
    align-items: center;
    gap: 23px;
    color: white;
    padding-left: 20px;
    font-size: 15px;
    cursor: pointer;
}


.arrow-btn {
    background-color: #35D7AE;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    
}

.arrow-btn img {
    align-items: center;
    padding-top: 20px;
}
