.feature-container {
  width: 100%;
  height: 860px;
}

.feature-inner-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 60px;
  padding-top: 120px;
}

.feature-coaching {
  width: 100%;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.edunity-image {
    padding-left: 120px;
}

.feature-head h1 {
    color: #0E2A46;
    font-size: 45px;
}
